
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
# BURGER
/src/Controller/BurgerController.php
/src/Service/Impl/Burger*
/src/Repository/BurgerRepository.php
/src/Form/Catalogue/Burger*
/src/Dto/Catalogue/Burger*
/templates/burger/

# COMPLEMENT
/src/Controller/ComplementController.php
/src/Service/Impl/Complement*
/src/Repository/ComplementRepository.php
/src/Form/Catalogue/Complement*
/src/Dto/Catalogue/Complement*
/templates/complement/

# MENU
/src/Controller/MenuController.php
/src/Service/Impl/Menu*
/src/Repository/MenuRepository.php
/src/Form/Catalogue/Menu*
/src/Dto/Catalogue/Menu*
/templates/menu/
/src/Service/Impl/ImageStorage*
/src/Service/ImageStorage*
/src/Service/Menu*
/src/Service/Burger*
/src/Service/Complement*
